.DS_Store
*.swp
*~.nib

build/
pkg/
cruise-output/

*.pbxuser
*.perspective
*.perspectivev3

*.mode1v3
*.mode2v3

project.xcworkspace
*.xcworkspace
*.xcuserdata
*.xcuserstate
xcuserdata/
*.xcdebugger

build.output

#Carthage
Carthage
